<div class="h-screen w-full flex flex-col justify-center items-center gap-5 bg-gradient-to-br from-purple-950 to-fuchsia-950">
    <p class="font-thin text-5xl text-center text-white drop-shadow-2xl">What anime should I watch next?</p>
    
    <!-- Input Form and Button -->
    <mat-card class="w-96 p-5 flex justify-center items-center shadow-2xl">
      <mat-form-field class="w-full">
        <mat-label>Enter an anime title</mat-label>
        <input matInput placeholder="Try Steins;Gate?" [(ngModel)]="animeName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div>
        <button mat-flat-button (click)="fetchRecommendations()">Get Recommendations</button>
      </div>
    </mat-card>
  
    <!-- Loading Indicator -->
    <mat-card *ngIf="loading" class="p-5 shadow-2xl w-96 text-center flex justify-center items-center">
      <mat-spinner diameter="50"></mat-spinner>
    </mat-card>
  
    <!-- Anime Recommendations Carousel -->
    <mat-card *ngIf="!loading && recommendations.length > 0" class="p-5 shadow-2xl w-96">
      <div class="flex justify-between items-center">
        <button mat-icon-button (click)="prevAnime()" [disabled]="currentAnimeIndex === 0">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="flex flex-grow justify-center items-center text-white">
          <mat-list-item [routerLink]="['/anime', recommendations[currentAnimeIndex].entry.mal_id]" class="flex flex-col w-full justify-center items-center text-center cursor-pointer">
            <p class="font-thin text-xl">Try watching this one?</p>
            <img [src]="recommendations[currentAnimeIndex].entry.images.jpg.image_url" alt="{{ recommendations[currentAnimeIndex].entry.title }}">
            <p class="font-bold pt-3">{{ recommendations[currentAnimeIndex].entry.title }}</p>
          </mat-list-item>
        </div>
        <button mat-icon-button (click)="nextAnime()" [disabled]="currentAnimeIndex === recommendations.length - 1">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  