@if (anime) {
    <h2 matDialogTitle>{{ anime.data.title }}</h2>
    <mat-dialog-content>
        <div class="w-full flex flex-col justify-center items-center gap-3">
          <div class="grid md:grid-cols-2 grid-cols-1 w-full">
            <div class="md:pr-2 pr-0 md:pt-0 pt-5 md:order-first order-last">
              <div class="w-full leading-none pb-4">
                <span class="flex flex-row gap-2 w-full">
                  <p class="text-lg font-bold leading-none">{{ anime.data.title_japanese }}</p>
                  <p class="font-thin">{{ anime.data.year }}</p>
                </span>
                <p class="font-thin">{{ anime.data.title_english }}</p>
                <p [ngClass]="getRatingColor()"><b>{{ anime.data.score }}</b></p>
              </div>
              <div class="w-full leading-tight">
                <p><b>Genre: </b>{{ getGenresString() }}</p>
                <p><b>Episodes: </b>{{ anime.data.episodes }}</p>
                <p><b>Duration: </b>{{ anime.data.duration }}</p>
                <p><b>Rating: </b>{{ anime.data.rating }}</p>
                <p><b>Status: </b>{{ anime.data.status }}</p>
              </div>
              <div class="w-full leading-tight pt-5">
                <p><b>{{anime.data.studios.length > 1 ? "Studios: " : "Studio: "}}</b>{{ getStudiosString() }}</p>
                <p><b>Produced by: </b>{{ getProducersString() }}</p>
              </div>
            </div>
            <div class="pl-2 w-full h-full flex justify-center items-center">
              <img [src]="anime.data.images.jpg.image_url" alt="{{ anime.data.title }}" />
            </div>
          </div>
          <div class="w-full flex justify-center items-center gap-2 py-3 flex-wrap">
            @if (anime.data.url) {
              <a mat-flat-button [href]="anime.data.url" target="_blank">
                <span>Visit on MyAnimeList</span>
                <mat-icon>open_in_new</mat-icon>
              </a>
            }
            @if (anime.data.trailer.url) {
              <a mat-flat-button [href]="anime.data.trailer.url" target="_blank">
                <span>Watch Trailer</span>
                <mat-icon>smart_display</mat-icon>
              </a>
            }
          </div>
          <div class="w-full">
            <p class="font-thin text-2xl mt-2">Synopsis</p>
            <p class="font-thin">{{ anime.data.synopsis }}</p>
          </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
}
  